@{
    ViewBag.Title = "الشجره المحاسبيه";
    Layout = "~/Views/shared/MasterPage.cshtml";
}
@using Icons.Models;
@functions
{
    string GetChilds(AccountingTree Node)
    {
        foreach (AccountingTree Child in Node.AccountingTree1)
        {
            string Childs = "";
            //
            Childs = @"<li class='dd-item' data-name='" + Child.NodeName + "' data-id='" + Child.Id + "'>";
            Childs += "<div class='dd-handle'>" + Child.NodeName + "</div>";
            if (Child.AccountingTree1.Count > 0)
            {
                Childs = @"<ol id='ol" + Child.Id + "' class='dd-list'>";
                Childs += GetChilds(Child);
                Childs += "</li></ol>";
            }
            else
            {
                Childs += "</li>";
                return Childs;
            }
        }
        return "";

    }
}
<script src="~/scripts/AccTree.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //initialize the javascript
        App.init();

        $('#list1').nestable('collapseAll');
        //App.nestableLists();
    });
    function SerializeIt() {
        App.nestableLists();
    }
    function AddToTree() {
        var ParentVal = $('#ParentAcc').val();
        $('#' + ParentVal + " > ol").append('<li class="dd-item" data-id="0" data-name="' + $('#accname').val() + '">\
                          <div class="dd-handle">' + $('#accname').val() + '</div>\
                          </li>');
        $('#ol1').val('');

        //$('#ol1').append('<li class="dd-item" data-id="0" data-name="' + $('#accname').val() + '">\
        //                  <div class="dd-handle">' + $('#accname').val() + '</div>\
        //                  </li>');
        //$('#ol1').val('');
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3 class="ArabicAlign">الشجره المحاسبيه</h3>
                <p class="ArabicAlign">اي تغيير في هذه الشجره بعد التشغيل الاولي للبرنامج قد يتسبب في تغيير الحسابات , برجاء عدم التغيير</p>
            </div>
            <div class="content">
                <form id="SaveForm" class="form-horizontal group-border-dashed" novalidate="" parsley-validate="" action="#" style="border-radius: 0px;">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="block-flat" style="border: none; direction: rtl;">
                            <div class="block-flat">
                                <div class="header">
                                    <h3>تصميم الشجره</h3>
                                </div>
                                <div class="content">
                                    <div class="dd" id="list1">
                                        @helper ShowTree(IEnumerable<AccountingTree> Node)
                                        {
                                            <ol id="ol1" class="dd-list">
                                                @foreach (var foo in Node)
                                                {
                                                    <li class="dd-item" id="@foo.Id" data-name="@foo.NodeName" data-id="@foo.Id">
                                                        <div class="dd-handle">@foo.NodeName (@foo.Id)</div>
                                                        @if (foo.AccountingTree1.Any())
                                                        {
                                                            @ShowTree(foo.AccountingTree1)
                                                        }
                                                    </li>
                                                }
                                            </ol>
                                        }
                                        @ShowTree(ViewBag.Nodes)
                                    </div>
                                    <div class="spacer2" style="display: none">
                                        <h4>Serialized Output:</h4>
                                        <pre><code id="out1"></code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label Arabic" style="text-align: center;">تحت الحساب</label>
                            <div class="col-sm-6 Arabic">
                                <select class="select2" name="ParentAcc" id="ParentAcc">
                                    @{
                                        foreach (AccountingTree item in ViewBag.AllTrees)
                                        {
                                        <option value="@item.Id">@item.NodeName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label Arabic" style="text-align: center;">اسم الحساب</label>
                            <div class="col-sm-6 Arabic">
                                <input class="form-control parsley-validated parsley-error" id="accname" name="aname" parsley-trigger="change" parsley-minlength="2" parsley-minlength-message="اسم المستخدم يجب ان يكون حرفان علي الاقل" parsley-required-message="يجب ادخال اسم المستخدم" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" onclick="AddToTree()" class="btn btn-warning">حفظ الحساب</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label Arabic" style="text-align: center;">حذف حساب رقم</label>
                            <div class="col-sm-6 Arabic">
                                <input class="form-control parsley-validated parsley-error" id="accnum" name="accnum" parsley-trigger="change" parsley-minlength="2" parsley-minlength-message="اسم المستخدم يجب ان يكون حرفان علي الاقل" parsley-required-message="يجب ادخال اسم المستخدم" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" onclick="DeleteNode()" class="btn btn-danger">حذف الحساب</button>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">حفظ التعديلات على الشجره</button>
                        </div>
                    </div>
                </form>
                <div class="resultmsg" style="text-align: center; color: blue;">
                    <label id="result"></label>
                </div>
            </div>
        </div>
    </div>
</div>

