@{
    ViewBag.Title = "UnconfirmedFinancialTransactions";
    Layout = "~/Views/shared/MasterPage.cshtml";
    List<FinancialTransaction> LOFT = ViewBag.LOFT;
}

@using Icons.Models;

<script type="text/javascript">
    function DeleteFT(ID) {
        $.ajax({
            url: '/Accounting/DeleteFT',
            type: 'post',
            data: { '_ID': ID },
            success: function (data) {
                $('#' + ID).fadeOut(250);
                return false;
            },
            error: function (data) {
                console.log(data.responseText);
            }
        });
    }

    function ConfirmFT(ID) {
        $.ajax({
            url: '/Accounting/ConfirmFT',
            type: 'post',
            data: { '_ID': ID },
            success: function (data) {
                $('#' + ID).fadeOut(250);
                return false;
            },
            error: function (data) {
                console.log(data.responseText);
            }
        });
    }
</script>

<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3 style="text-align: right;">المعاملات المالية الغير مؤكدة</h3>
            </div>
            <div class="content" style="direction: rtl;">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datatable">
                        <thead>
                            <tr style="direction: rtl;">
                                <th style="text-align: center;">الرقم</th>
                                <th style="text-align: center;">الحساب</th>
                                <th style="text-align: center;">مدين</th>
                                <th style="text-align: center;">دائن</th>
                                <th style="text-align: center;">بيان</th>
                                <th style="text-align: center;">تاريخ</th>
                                <th style="text-align: center;">اخر تعديل بواسطة</th>
                                <th style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (FinancialTransaction y in LOFT)
                                {
                                <tr class="odd gradeX" id="@y.Id">
                                    <td>@y.Id</td>
                                    <td>@y.AccountingTree.NodeName</td>
                                    <td>@y.Debit</td>
                                    <td>@y.Credit</td>
                                    <td class="center">@y.Statement</td>
                                    <td class="center">@y.TransactionDate</td>
                                    @{
                                    MaksoudDBEntities db = new MaksoudDBEntities();
                                    if (y.LastEditBy != null)
                                    {
                                        var LastU = db.Users.Single(p => p.ID == y.LastEditBy);
                                        <td>@LastU.Username</td>
                                    }
                                    else
                                    {
                                        <td>Null In Database</td>
                                    }
                                    }
                                    <td class="center">
                                        <div class="btn-group">
                                            <button class="btn btn-default btn-xs" type="button">Actions</button>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-primary dropdown-toggle" type="button">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                @if ((Session["User"] as User).UserAccesses.Any(p => (p.ScreenID == 70 && p.CanEdit == true) || (p.ScreenID == 70 && p.Opt1 == true)))
                                                {
                                                    <li>
                                                        <a href="/Accounting/EditFinancialTransactions/@y.Id">تعديل</a>
                                                    </li>
                                                }
                                                @if ((Session["User"] as User).UserAccesses.Any(p => (p.ScreenID == 70 && p.Opt1 == true) || (p.ScreenID == 70 && p.Opt1 == true)))
                                                {
                                                    <li>
                                                        <a href="javascript:ConfirmFT(@y.Id)">تأكيد</a>
                                                    </li>
                                                }
                                                @if ((Session["User"] as User).UserAccesses.Any(p => (p.ScreenID == 70 && p.CanDelete == true) || (p.ScreenID == 70 && p.Opt1 == true)))
                                                {
                                                    <li>
                                                        <a href="javascript:DeleteFT(@y.Id)">حذف</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    @*var functions = $('<div class="btn-group"><button class="btn btn-default btn-xs" type="button">Actions</button><button data-toggle="dropdown" class="btn btn-xs btn-primary dropdown-toggle" type="button"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button><ul role="menu" class="dropdown-menu"><li><a href="/Customer/EditCustomer?_ID=@ViewBag.allcustomers.ID">Edit</a></li><li><a href="#">Copy</a></li><li><a href="#">Details</a></li><li class="divider"></li><li><a href="#">Remove</a></li></ul></div>');
    $("#datatable tbody tr td:last-child").each(function () {
        $(this).html("");
        functions.clone().appendTo(this);
    });*@

    $(document).ready(function () {
        App.dataTables();
        /* Formating function for row details */
        function fnFormatDetails(oTable, nTr) {
            var aData = oTable.fnGetData(nTr);
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
            sOut += '<tr><td>Rendering engine:</td><td>' + aData[1] + ' ' + aData[4] + '</td></tr>';
            sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
            sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
            sOut += '</table>';

            return sOut;
        }

        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement('th');
        var nCloneTd = document.createElement('td');
        nCloneTd.innerHTML = '<img class="toggle-details" src="images/plus.png" />';
        nCloneTd.className = "center";

        $('#datatable2 thead tr').each(function () {
            this.insertBefore(nCloneTh, this.childNodes[0]);
        });

        $('#datatable2 tbody tr').each(function () {
            this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
        });

        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#datatable2').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']]
        });

        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#datatable2').delegate('tbody td img', 'click', function () {
            var nTr = $(this).parents('tr')[0];
            if (oTable.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "images/plus.png";
                oTable.fnClose(nTr);
            }
            else {
                /* Open this row */
                this.src = "images/minus.png";
                oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
            }
        });

        $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'Search');
        $('.dataTables_length select').addClass('form-control');
    });
</script>
