@{
    ViewBag.Title = "SearchInvoices";
    Layout = "~/Views/shared/MasterPage.cshtml";
}

@using Icons.Models;

<script src="~/scripts/SupplierInvoiceSearch.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3 style="text-align: right;">بحث فواتير الموردين</h3>
                <br />
                <div class="col-md-12" style="direction: rtl;">
                    <input type="image" onclick="RefreshSearch()" src="~/content/images/round_delete.png" style="border: 1px solid #808080; border-radius: 0px 100px 100px 0px; border-left: none; width: 32px; height: 32px; float: right;" /><input id="DeepSearch" class="form-control" style="width: 200px; height: 32px; border: 1px solid #808080; border-right: none;" type="text" placeholder="بحث متقدم" />
                </div>
                <br />
            </div>
            <div class="content" style="direction: rtl;">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datatable2">
                        <thead>
                            <tr style="direction: rtl;">
                                <th style="text-align: center;">رقم الفاتورة</th>
                                <th style="text-align: center;">اسم المورد</th>
                                <th style="text-align: center;">تاريخ الفاتورة</th>
                                <th style="text-align: center;">اجمالي الفاتورة</th>
                                <th style="text-align: center;">الخصم</th>
                                <th style="text-align: center;">الصافي</th>
                                <th style="text-align: center;">المشروع</th>
                                @*<th style="text-align: center;">اخر تعديل بواسطة</th>*@
                                <th style="text-align: center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (SupplierInvoice y in ViewBag.I)
                                {
                                    if (y.Departed == false)
                                    {
                                <tr class="odd gradeX" id="@y.Id">

                                    <td>@y.Id</td>
                                    <td>@y.Supplier.Name</td>
                                    <td>@(((DateTime)y.InvoiceDate).ToString("MM/dd/yyyy"))</td>
                                    <td class="center">@y.InvoiceTotal</td>
                                    <td class="center">@y.InvoiceDiscount</td>
                                    <td class="center">@y.InvoiceNet</td>
                                    <td class="center">@y.Project.ProjectName</td>
                                    @*@{
                                        MaksoudDBEntities db = new MaksoudDBEntities();
                                        if (y.LastEditBy != null)
                                        {
                                            var LastU = db.Users.Single(p => p.ID == y.LastEditBy);
                                        <td class="center">@LastU.Username</td>
                                        }
                                        else
                                        {
                                        <td class="center">Null In Database</td>
                                        }
                                    }*@
                                    <td class="center">
                                        <div class="btn-group">
                                            <button class="btn btn-default btn-xs" type="button">Actions</button>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-primary dropdown-toggle" type="button">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                                @if ((Session["User"] as User).UserAccesses.Any(p => (p.ScreenID == 66 && p.Opt1 == true) || (p.ScreenID == 60 && p.Opt1 == true)))
                                                {
                                                    <li>
                                                        <a onclick="Depart(@y.Id)">ترحيل</a>
                                                    </li>
                                                }
                                                @if ((Session["User"] as User).UserAccesses.Any(p => (p.ScreenID == 66 && p.CanEdit == true) || (p.ScreenID == 60 && p.Opt1 == true)))
                                                {
                                                    <li>
                                                        <a href="@Url.Action("EditInvoice", "Supplier", new { id = y.Id })">تعديل</a>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="@Url.Action("DisplayInvoice", "Supplier", new { id = y.Id })">عرض تفاصيل الفاتورة</a>
                                                </li>
                                                @if ((Session["User"] as User).UserAccesses.Any(p => (p.ScreenID == 66 && p.CanDelete == true) || (p.ScreenID == 60 && p.Opt1 == true)))
                                                {
                                                    <li>
                                                        <a onclick="DeleteInvoice(@y.Id)">حذف</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                    }
                                    else
                                    {
                                <tr class="odd gradeX" id="@y.Id">
                                    <td>@y.Id</td>
                                    <td>@y.Supplier.Name</td>
                                    <td>@(((DateTime)y.InvoiceDate).ToString("MM/dd/yyyy"))</td>
                                    <td class="center">@y.InvoiceTotal</td>
                                    <td class="center">@y.InvoiceDiscount</td>
                                    <td class="center">@y.InvoiceNet</td>
                                    <td class="center">@y.Project.ProjectName</td>
                                    <td class="center">
                                        <div class="btn-group">
                                            <button class="btn btn-default btn-xs" type="button">Actions</button>
                                            <button data-toggle="dropdown" class="btn btn-xs btn-primary dropdown-toggle" type="button">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu">
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    

    @*var functions = $('<div class="btn-group"><button class="btn btn-default btn-xs" type="button">Actions</button><button data-toggle="dropdown" class="btn btn-xs btn-primary dropdown-toggle" type="button"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button><ul role="menu" class="dropdown-menu"><li><a href="/Customer/EditCustomer?_ID=@ViewBag.allcustomers.ID">Edit</a></li><li><a href="#">Copy</a></li><li><a href="#">Details</a></li><li class="divider"></li><li><a href="#">Remove</a></li></ul></div>');
    $("#datatable tbody tr td:last-child").each(function () {
        $(this).html("");
        functions.clone().appendTo(this);
    });*@

    function RefreshSearch() {
        $('#DeepSearch').val('');
        $('#datatable2 > tbody  > tr').each(function (index, CurrentRow) {
            $(CurrentRow).fadeIn(0);
        });
    }

    $(document).ready(function () {
        $('#DeepSearch').bind('keyup', function (e) {
            var Keyword = $('#DeepSearch').val();
            if (Keyword == "" || Keyword == undefined || Keyword == null) {
                $('#datatable2 > tbody  > tr').each(function (index, CurrentRow) {
                    $(CurrentRow).fadeIn(0);
                });
            }
            else {
                $.ajax({
                    type: 'post',
                    url: '/Supplier/DeepInvoiceSearch',
                    data: { '_Keyword': Keyword },
                    async: true,
                    success: function (data) {
                        var IDSArray = data.split(',');
                        var InArray = false;
                        $('#datatable2 > tbody  > tr').each(function (index, CurrentRow) {
                            $.each(IDSArray, function (index, ID) {
                                if ($(CurrentRow).attr("id") == ID) {
                                    InArray = true;
                                    $(CurrentRow).fadeIn(0);
                                }
                            });
                            if (InArray == false) {
                                $(CurrentRow).fadeOut(0);
                            }
                            InArray = false;
                        });

                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }
        });

        /* Formating function for row details */
        App.dataTables();
        function fnFormatDetails(oTable, nTr, InvoiceID) {
            var aData = oTable.fnGetData(nTr);
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
            sOut += '<tr><td>المنتج</td><td>الكمية</td><td>السعر</td><td>الاجمالي</td></tr>';

            $.ajax({
                type: 'post',
                url: '/Supplier/GetInvoiceLines',
                data: { '_ID': InvoiceID },
                async: false,
                success: function (data) {
                    $.each(data, function (index, Line) {
                        sOut += '<tr><td>' + Line.Product.ProductName + '</td><td>' + Line.Qty + '</td><td>' + Line.Price + '</td><td>' + Line.Total + '</td></tr>';
                    });
                    sOut += '</table>';
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
            return sOut;
        }

        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement('th');
        var nCloneTd = document.createElement('td');
        nCloneTd.innerHTML = '<img class="toggle-details" src="/content/images/plus.png" />';
        nCloneTd.className = "center";

        $('#datatable2 thead tr').each(function () {
            this.insertBefore(nCloneTh, this.childNodes[0]);
        });

        $('#datatable2 tbody tr').each(function () {
            this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
        });

        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#datatable2').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] }
            ],
            "aaSorting": [[1, 'asc']]
        });

        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#datatable2').delegate('tbody td img', 'click', function () {
            var nTr = $(this).parents('tr')[0];
            var InvID = $(this).parents('tr').attr("id");
            if (oTable.fnIsOpen(nTr)) {
                /* This row is already open - close it */
                this.src = "/content/images/plus.png";
                oTable.fnClose(nTr);
            }
            else {
                /* Open this row */
                this.src = "/content/images/minus.png";
                oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr, InvID), 'details');
            }
        });

        $('.dataTables_filter input').addClass('form-control').attr('placeholder', 'بحث');
        $('.dataTables_length select').addClass('form-control');
    });
</script>
