@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/shared/MasterPage.cshtml";
    Project P = ViewBag.P;
}

@using Icons.Models;

<script src="~/content/js/fuelux/loader.min.js"></script>
<script src="~/scripts/Project.js"></script>

<script>
    $(document).ready(function () {
        App.wizard();
    });
</script>

<div class="row">
    <div class="col-md-12">
        @*<div class="block-flat">*@
        <div class="cl-mcont">
            <div class="row wizard-row">
                <div class="col-md-12 fuelux">
                    <div class="block-wizard">
                        <div id="wizard1" class="wizard wizard-ux">
                            <ul class="steps">
                                <li data-target="#step1" class="active">الخطوة الاولي<span class="chevron"></span></li>
                                <li data-target="#step2">الخطوة الثانية<span class="chevron"></span></li>
                                <li data-target="#step3">الخطوة الثالثة<span class="chevron"></span></li>
                            </ul>
                            <div class="actions">
                                <button type="button" class="btn btn-xs btn-prev btn-default"><i class="icon-arrow-left"></i>السابق</button>
                                <button type="button" class="btn btn-xs btn-next btn-default" data-last="Finish">التالي<i class="icon-arrow-right"></i></button>
                            </div>
                        </div>
                        <div class="step-content">
                            <form id="ProjEdit" class="form-horizontal group-border-dashed" action="#" novalidate="" parsley-validate="">
                                <div class="step-pane active" id="step1">
                                    <div class="form-group no-padding">
                                        <div class="col-sm-12">
                                            <h3 class="hthin" style="width: 100%; text-align: right;">تعديل المشروع</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">اسم المشروع</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" value="@P.ProjectName" id="name" name="name" parsley-trigger="change" required="" parsley-error-message="يجب ادخال اسم المشروع" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">عنوان المشروع</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" value="@P.ProjectAddress" id="address" name="address" parsley-trigger="change" required="" parsley-error-message="يجب ادخال عنوان المشروع" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المساحة</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="space" name="space" value="@P.LandSpace" parsley-trigger="change" required="" parsley-error-message="يجب ادخال مساحة المشروع" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">تاريخ الإنشاء</label>
                                        <div class="col-sm-6 Arabic">
                                            <input style="direction:ltr;" data-mask="datetime" id="date" name="date" value="@(((DateTime)P.CreationDate).ToString("MM/dd/yyyy hh:mm"))" class="form-control datetime parsley-validated parsley-error" parsley-trigger="change" required="" parsley-required-message="يجب ادخال تاريخ الإنشاء" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-default">الغاء</button>
                                            <button data-wizard="#wizard1" class="btn btn-primary wizard-next">الخطوة التالية <i class="fa fa-caret-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-pane" id="step2">
                                    <div class="form-group no-padding">
                                        <div class="col-sm-12">
                                            <h3 class="hthin" style="width: 100%; text-align: right;">بيانات اخري</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المنظر الأول</label>
                                        <div class="col-sm-6 Arabic">
                                            @*<input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="first" value="@P.FirstViewLength" name="first" parsley-trigger="change" required="" parsley-error-message="يجب ادخال المنظر الأول" type="text" />*@
                                            <select class="select2" id="first" name="first">
                                                <optgroup label="الاتجاهات">
                                                    @{
                                                        var Count = 1;
                                                        foreach (string item in ViewBag.Directions)
                                                        {
                                                            if (Count == P.FirstViewLength)
                                                            {
                                                                <option selected="selected" value="@Count">@item</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@Count">@item</option>
                                                            }
                                                            Count++;
                                                        }
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المنظر الثاني</label>
                                        <div class="col-sm-6 Arabic">
                                            @*<input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="second" value="@P.SecondViewLength" name="second" parsley-trigger="change" required="" parsley-error-message="يجب ادخال المنظر الثاني" type="text" />*@
                                            <select class="select2" id="second" name="second">
                                                <optgroup label="الاتجاهات">
                                                    @{
                                                        var Count1 = 1;
                                                        foreach (string item in ViewBag.Directions)
                                                        {
                                                            if (Count1 == P.SecondViewLength)
                                                            {
                                                                <option selected="selected" value="@Count1">@item</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@Count1">@item</option>
                                                            }
                                                            Count1++;
                                                        }
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المنظر الثالث</label>
                                        <div class="col-sm-6 Arabic">
                                            @*<input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="third" value="@P.ThirdViewLength" name="third" parsley-trigger="change" required="" parsley-error-message="يجب ادخال المنظر الثالث" type="text" />*@
                                            <select class="select2" id="third" name="third">
                                                <optgroup label="الاتجاهات">
                                                    @{
                                                        var Count2 = 1;
                                                        foreach (string item in ViewBag.Directions)
                                                        {
                                                            if (Count2 == P.ThirdViewLength)
                                                            {
                                                                <option selected="selected" value="@Count2">@item</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@Count2">@item</option>
                                                            }
                                                            Count2++;
                                                        }
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">المنظر الرابع</label>
                                        <div class="col-sm-6 Arabic">
                                            @*<input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="forth" value="@P.ForthViewLength" name="forth" parsley-trigger="change" required="" parsley-error-message="يجب ادخال المنظر الرابع" type="text" />*@
                                            <select class="select2" id="forth" name="forth">
                                                <optgroup label="الاتجاهات">
                                                    @{
                                                        var Count3 = 1;
                                                        foreach (string item in ViewBag.Directions)
                                                        {
                                                            if (Count3 == P.ForthViewLength)
                                                            {
                                                                <option selected="selected" value="@Count3">@item</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@Count3">@item</option>
                                                            }
                                                            Count3++;
                                                        }
                                                    }
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button data-wizard="#wizard1" class="btn btn-default wizard-previous"><i class="fa fa-caret-left"></i>السابق</button>
                                            <button data-wizard="#wizard1" class="btn btn-primary wizard-next">الخطوة التالية <i class="fa fa-caret-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="step-pane" id="step3">
                                    <div class="form-group no-padding">
                                        <div class="col-sm-12">
                                            <h3 class="hthin" style="width: 100%; text-align: right;">بيانات اخري</h3>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">عدد الأدوار</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="floors" value="@P.FloorsCount" name="floors" parsley-trigger="change" required="" parsley-error-message="يجب ادخال عدد الأدوار" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">التكلفة المتوقعة</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="cost" name="cost" value="@P.ExpectedCost" parsley-trigger="change" required="" parsley-error-message="يجب ادخال التكلفة المتوقعة للمشروع" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label Arabic" style="text-align: center;">نسبة الملكية</label>
                                        <div class="col-sm-6 Arabic">
                                            <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="per" name="per" value="@P.OwnershipPercentage" parsley-trigger="change" required="" parsley-error-message="يجب ادخال نسبة الملكية" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button data-wizard="#wizard1" class="btn btn-default wizard-previous"><i class="fa fa-caret-left"></i>السابق</button>
                                            <button data-wizard="#wizard1" class="btn btn-success wizard-next" onclick="EditFormSubmit()"><i class="fa fa-check"></i>حفظ</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
    </div>
</div>
