@{
    ViewBag.Title = "Imprests";
    Layout = "~/Views/shared/MasterPage.cshtml";
    Employee E = ViewBag.E;
}

@using Icons.Models;

<script src="~/scripts/Imprest.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3 class="ArabicAlign">بيانات الموظف</h3>
            </div>
            <div class="content">
                <table class="no-border hover" style="direction: rtl;">
                    <tbody class="no-border-y">
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>اسم الموظف</td>
                            <td>@E.Name</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>عنوان الموظف</td>
                            <td>@E.Address</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>رقم الهاتف الأول</td>
                            <td>@E.Phone1</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>رقم الهاتف الثاني</td>
                            <td>@E.Phone2</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>الراتب</td>
                            <td>@E.BasicSalary</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>مدة القبض</td>
                            @{
                                int count = 1;
                                foreach (string item in ViewBag.ST)
                                {
                                    if (count == E.SalaryType)
                                    {
                                <td>@item</td>
                                    }
                                    count++;
                                }
                            }
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>تاريخ الميلاد</td>
                            <td>@E.DateOfBirth</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>تاريخ التعيين</td>
                            <td>@E.HiringDate</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>الرقم القومي</td>
                            <td>@E.SSN</td>
                        </tr>
                        <tr>
                            <td style="width: 30%;"><i class="fa fa-ellipsis-h"></i>عنوان الوظيفة</td>
                            <td>@E.Title</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @{
            if ((ViewBag.AllP as List<FinancialTransaction>).Count == 0)
            {
            <div class="block-flat">
                <div class="header">
                    <h3 class="ArabicAlign">إضافة عهد</h3>
                </div>
                <div class="content">
                    <form class="form-horizontal group-border-dashed" id="AddImprest" novalidate="" parsley-validate="" action="#" style="border-radius: 0px;">
                        <div class="form-group">
                            <label class="col-sm-3 control-label Arabic" style="text-align: center;">قيمة العهد</label>
                            <div class="col-sm-6 Arabic">
                                <input class="form-control parsley-validated parsley-error" onkeypress="return isNumberKey(event)" id="imprest" name="imprest" parsley-trigger="change" required="" parsley-error-message="يجب ادخال قيمة الجزاء" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label Arabic" style="text-align: center;">من حساب</label>
                            <div class="col-sm-6 Arabic">
                                <select class="select2" name="FromAcc" id="FromAcc">
                                    @{
                foreach (AccountingTree item in ViewBag.AllAcc)
                {
                                        <option value="@item.Id">@item.NodeName</option>
                }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label Arabic" style="text-align: center;">ملاحظات</label>
                            <div class="col-sm-6 Arabic">
                                <textarea id="Notes" name="Notes" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">انشاء العهد</button>
                                <button type="button" class="btn btn-default">الغاء</button>
                            </div>
                        </div>
                    </form>
                    <div class="resultmsg" style="text-align: center; color: blue;">
                        <label id="result"></label>
                    </div>
                </div>
            </div>
            }
        }
        <div class="block-flat">
            <div class="header">
                <h3 style="width: 100%; text-align: right;">تفاصيل العهدة</h3>
            </div>
            <div class="content">
                <table style="direction: rtl;">
                    <thead>
                        <tr>
                            <th style="width: 25%; text-align: center;">قيمة العهد</th>
                            <th style="width: 25%; text-align: center;">تاريخ العهد</th>
                            <th style="width: 25%; text-align: center;">ملاحظات</th>
                            <th style="width: 25%; text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (FinancialTransaction item in ViewBag.AllP)
                            {
                            <tr id="DetailRow@(item.Id)">
                                <td style="width: 14.2%; text-align: center;">@item.Amount</td>
                                <td style="width: 14.2%; text-align: center;">@item.TransactionDate</td>
                                <td style="width: 14.2%; text-align: center;">@item.Notes</td>
                                <td style="width: 14.2%; text-align: center;">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">الإجرائات</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="javascript:RemoveImprest(@item.Id);">حذف</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
