@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/shared/MasterPage.cshtml";
    Product P = ViewBag.P;
}

@using Icons.Models;

<script src="~/scripts/Product.js"></script>

<div class="row">
    <div class="col-md-12">
        <div class="block-flat">
            <div class="header">
                <h3 class="ArabicAlign">تعديل المنتج</h3>
            </div>
            <div class="content">
                <form id="prodEdit" class="form-horizontal group-border-dashed" novalidate="" parsley-validate="" action="#" style="border-radius: 0px;">
                    <div class="block-flat" style="border: none;">
                        <div class="content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label Arabic" style="text-align: center;">اسم المنتج</label>
                                <div class="col-sm-6 Arabic">
                                    <input style="direction: ltr;" id="name" name="name" class="form-control parsley-validated parsley-error" parsley-trigger="change" required="" parsley-required-message="يجب ادخال اسم المنتج" size="16" value="@P.ProductName" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label Arabic" style="text-align: center;">التصنيف</label>
                                <div class="col-sm-6 Arabic">
                                    <select class="select2" name="cat">
                                        <optgroup label="التصنيفات">
                                            @{
                                                foreach (ProductCategory item in ViewBag.PC)
                                                {
                                                    if (item.Id == P.Category)
                                                    {
                                                <option selected="selected" value="@item.Id">@item.CategoryName</option>
                                                    }
                                                    else
                                                    {
                                                <option value="@item.Id">@item.CategoryName</option>
                                                    }
                                                }
                                            }
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label Arabic" style="text-align: center;">وحدة الشراء</label>
                                <div class="col-sm-6 Arabic">
                                    <select class="select2" name="pu">
                                        <optgroup label="وحدات الشراء">
                                            @{
                                                int Count = 1;
                                                foreach (string item in ViewBag.PU)
                                                {
                                                    if (P.PurchaseUnit == Count)
                                                    {
                                                <option selected="selected" value="@Count">@item.Replace("_", " ")</option>        
                                                    }
                                                    else
                                                    {
                                                <option value="@Count">@item.Replace("_", " ")</option>        
                                                    }
                                                    Count++;
                                                }
                                            }
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label Arabic" style="text-align: center;">وحدة البيع</label>
                                <div class="col-sm-6 Arabic">
                                    <select class="select2" name="su">
                                        <optgroup label="وحدات البيع">
                                            @{
                                                int Count1 = 1;
                                                foreach (string item in ViewBag.SU)
                                                {
                                                    if (P.SalesUnit == Count1)
                                                    {
                                                <option selected="selected" value="@Count1">@item.Replace("_", " ")</option>        
                                                    }
                                                    else
                                                    {
                                                <option value="@Count1">@item.Replace("_", " ")</option>
                                                    }
                                                    Count1++;
                                                }
                                            }
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label Arabic" style="text-align: center;">نسبة التحويل</label>
                                <div class="col-sm-6 Arabic">
                                    <input style="direction: ltr;" id="per" name="per" onkeypress="return isNumberKey(event)" class="form-control parsley-validated parsley-error" parsley-type="number" parsley-type-number-message="يرجي ادخال نسبة صحيحة" parsley-trigger="change" required="" parsley-required-message="يجب ادخال نسبة التحويل" size="16" value="@P.PtoSRate" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label Arabic" style="text-align: center;">الوصف</label>
                                <div class="col-sm-6 Arabic">
                                    <textarea id="notes" name="notes" class="form-control">@P.Description</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">حفظ</button>
                            <button type="button" onclick="Cancel()" class="btn btn-default">الغاء</button>
                        </div>
                    </div>
                </form>
                <div class="resultmsg" style="text-align: center; color: blue;">
                    <label id="result"></label>
                </div>
            </div>
        </div>
    </div>
</div>
